<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>晓儿</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.miqu.xiaoer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xiaoerPay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.miqu.xiaoer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xiaoer</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41BC21D6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>WX</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx521006e5839528d0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Sina</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sina.54aa3f96fd98c551990006a6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1104351020</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>xiaoerPay</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2015082601</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string></string>
	<key>NSLocationWhenInUseDescription</key>
	<string>请点击“允许”以允许访问。 </string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>patener</key>
	<string>2088911224712375</string>
	<key>privateKey</key>
	<string>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBALXRNY6KJ5VLc4CWBznu7dOD/32rUDffeoOxQU2IVDV3qUDnOkOjiqineZJBTMI7buurLWfNILs3MxsNIJD2gRZcZxmo0z7daWwdT0Ff/gFAY0P+VSawN3ELvqDgsCazNCUKUwOSS+7h/UK/cnLO5+kN8tSf23LPAnjciIG79PnRAgMBAAECgYAZZf9ISS5cYazh4pNh2WmpqX/QS1UqaPKRYPqRXSD+Uxf2tBZkinz9MGAAOVUCsRC+pSvzmykeXgiql7vb5EOF4s8qHNcfbVQBi546DmiadgciHZArt4IHskooOVPE9ZMJ+A/8XOxomW700bI4H8PNIH/oyJIU6UN9eR6efJHJLQJBAOFgHhghkLfZNd0+GVWTj+KLEiFZi183OCuWihCZsM3AjhxTv4M7F7sIpj5Gy+k9DCyFveGMNPxqs4K6uuC3eRcCQQDOheFdJuSiPNSH03q8sEUORgdlZ9fWR2jvUQpT7s0aVE/YYhMgWmyP6Z1outrTGih0rXOREcQBuh3dOggzSaVXAkBeqaeaTSbjAdoNBpNPjX5nEjDYTysqICB4tm9hT5yin1lRbp/HOB/ckGJ7T/NAEUM2xCogPWrYBt1FcLcjwgybAkBGxUYXH87Vcbb63JOAuX7Qh1rdexpRiaMB72l0na6XSTEbW3Bmc9Yj8tBIJU/7a0lVwmKJ4eajGN5HAy3wNVp9AkEAiUIuCKpz4JoCxwSAfoJzETLaOj+1x/1ZKghAalUyZOd1Wak9jBFI1/pgOK17W7UXClTbx2GYDuFAn/uHitSbGA==</string>
	<key>seller</key>
	<string>13310180257@163.com</string>
</dict>
</plist>
